<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Tìm kiếm sản phẩm</title>
</head>
<body>
	<form action="/product/search" method="get">
		<input name="min" th:value="${param.min}" placeholder="Min Price?">
		<input name="max" th:value="${param.max}" placeholder="Max Price?">
		<button type="submit">Search</button>
	</form>

	<table border="1">
		<tr>
			<th>ID</th>
			<th>Tên sản phẩm</th>
			<th>Giá</th>
			<th>Ngày tạo</th>
		</tr>
		<tr th:each="item : ${items}">
			<td th:text="${item.id}"></td>
			<td th:text="${item.name}"></td>
			<td th:text="${item.price}"></td>
			<td th:text="${item.createDate}"></td>
		</tr>
	</table>
</body>
</html>
